apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: flask-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/kkkedorrr/devops-pet-project.git
    targetRevision: HEAD
    path: helm-chart # The folder where Chart.yaml lives
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true    # Delete resources if I remove them from Git
      selfHeal: true # Fix cluster if someone manually deletes a pod